.custom-tabs .ant-tabs-content {
  height: 100%;
}

.custom-tabs .ant-tabs-tabpane {
  height: 100%;
}

.custom-tabs .ant-tabs-nav::before {
  border-bottom: 1px solid #1e293b !important;
}

.custom-tabs .ant-tabs-tab {
  color: #94a3b8 !important;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #6366f1 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background: #6366f1 !important;
}
